@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@300&family=Poppins&family=Roboto+Condensed:ital,wght@0,400;1,300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    margin: 10px;
    padding: 0;
}
.half-width{
    width: 50%;
    font-size: 20px;
    text-align: justify;
    margin: 10%;
    
    /* border: 2PX solid; */
    
}
.half-width img{
    width: 100%;  
}
.flex{
    display: flex;
}
#side-color{
    border-left:4px solid red;
    padding-left: 5px;
    box-sizing: border-box;
}
#side-color h1{
    font-size:30px;
    margin: 0;
    padding: 0;
    
   
}
.btn{
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px ;
    /*cursor: pointer;
    transition: background-color 0.3s;*/
}
.btn:hover {
    background-color: #66ccff;
    
}



/* ..................First Past CSS............................... */
.part-two{
    border: 2PX solid;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
     
}
#mission{
    background-color: #cae3f0; 
}
#vision{
    background-color:rgb(241, 206, 241);
}
#goals{
    background-color: rgb(238, 213, 182);
}
.margin{
    margin-left:5%;
    margin-right:5%;
}
/* ..................2nd Past CSS............................... */
.half-width h1{
    font-size:30px;
    margin: 0;
    padding: 0;
}
/*....................................................*/
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.image {
    flex: 1;
    padding: 20px;
}

.image img {
    max-width: 100%;
    height: auto;
}

.content {
    flex: 1;
    padding: 20px;
    text-align: left;
    text-align: justify;
    border-radius: 5px;

}

h2 {
    font-size: 40px;
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
    line-height: 1.5;
}
.content a{
    
        text-decoration: none;
        background-color: red;
        color: white;
        padding: 5px 10px;
        border-radius: 5px ;
        font-size: 18px;
        cursor: pointer;
        
    }
    .content a:hover {
        background-color: #66ccff;}


        .footer{
            background-color: bisque;
            width :auto;
            height:auto;
            color: rgb(0, 0, 0);
            font-size: medium;
        }
